In [2]:
# Imports
import yfinance as yf
import pandas as pd
import numpy as np

In [47]:
sp500 = pd.read_csv('sp500.csv', usecols=['Symbol', 'GICS Sector'])
sp500

    Symbol             GICS Sector
0      MMM             Industrials
1      AOS             Industrials
2      ABT             Health Care
3     ABBV             Health Care
4      ACN  Information Technology
..     ...                     ...
498    XYL             Industrials
499    YUM  Consumer Discretionary
500   ZBRA  Information Technology
501    ZBH             Health Care
502    ZTS             Health Care

[503 rows x 2 columns]